ion-card {
    --ion-padding: 0;
    
}

ion-img {
    width: 60%;
    height: auto;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
    
}

h2 {
    font-weight: 600;
}

.recycling-title { 
   padding-bottom: 10px;
}

.opening-hours {
    padding-top: 15pX;
   }

   .recycling-img {
       padding-left: 20px;
   }